.composum {
    --cpm--default-text-color: #666;
    --cpm--default-dark--200: #777973; /* #737679 */
    --cpm--default-color--100: #9c7; /* #73c5c5 */
    --cpm--default-color--200: #399a25; /* #009596 */
    --cpm--default-color--300: #1e3700; /* #003737 */
    --cpm--primary-color--100: #493; /* #06c */
    --cpm--primary-color--200: #382; /* #004080 */
    --cpm--active-color--200: #f1fdeb; /* #bee1f4 */
    --cpm--active-color--300: #d6f3c3; /* #73bcf7 */
    --cpm--active-color--400: #d7efcf; /* #2b9af3 */
    --pf-global--Color--dark-200: var(--cpm--default-dark--200);
    --pf-global--active-color--100: var(--cpm--primary-color--100);
    --pf-global--active-color--200: var(--cpm--active-color--200);
    --pf-global--active-color--300: var(--cpm--active-color--300);
    --pf-global--active-color--400: var(--cpm--active-color--400);
    --pf-global--disabled-color--100: var(--cpm--default-dark--200);
    --pf-global--primary-color--100: var(--cpm--primary-color--100);
    --pf-global--primary-color--200: var(--cpm--primary-color--200);
    --pf-global--primary-color--light-100: var(--cpm--active-color--300);
    --pf-global--primary-color--dark-100: var(--cpm--primary-color--100);
    --pf-global--secondary-color--100: var(--cpm--default-dark--200);
    --pf-global--default-color--100: var(--cpm--default-color--100);
    --pf-global--default-color--200: var(--cpm--default-color--200);
    --pf-global--default-color--300: var(--cpm--default-color--300);
    --pf-global--link--Color: var(--cpm--default-color--200);
    --pf-global--link--Color--hover: var(--cpm--primary-color--200);
    --pf-global--link--Color--light: var(--cpm--active-color--300);
    --pf-global--link--Color--light--hover: var(--cpm--active-color--400);
    --pf-global--link--Color--dark: var(--cpm--primary-color--100);
    --pf-global--link--Color--dark--hover: var(--cpm--primary-color--200);
    --pf-global--icon--Color--light: var(--cpm--default-dark--200);
    --pf-c-form-control--focus--BorderBottomColor: #7acc00;
}

.composum a {
    color: var(--pf-global--link--Color);
}

.composum a:hover {
    color: var(--pf-global--link--Color--hover);
}

.composum body {
    background-size: auto;
    background-color: #fafff4;
    background-position: 60% 10%;
}

.composum #kc-header {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    color: var(--cpm--default-text-color);
}

.composum #kc-header-wrapper {
    padding: 40px 10px 40px;
    letter-spacing: normal;
    text-transform: none;
}

.composum .login-pf-page .card-pf {
    background: rgba(160, 200, 140, 0.6);
}

.composum #kc-info-wrapper {
    background-color: var(--cpm--active-color--400);
}

.composum a#kc-current-locale-link::after {
    content: "\25bc";
}

.composum .login-pf-settings a,
.composum #kc-form-options a,
.composum #kc-registration a {
    font-weight: bold;
}

.composum .pf-c-form-control {
    background-color: var(--cpm--active-color--200) !important;
    outline: var(--cpm--primary-color--200);
}

.composum .pf-c-button.pf-m-control {
    border-color: rgba(160, 200, 140, 0.5);
}

@media (max-width: 767px) {

    .composum #kc-header-wrapper {
        font-size: 24px;
        font-weight: normal;
        color: var(--cpm--default-text-color);
    }
}
